example/autotest.web.framework/src/main/resources/autotest.web.framework.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://surenpi.com"
	xmlns:suren="http://surenpi.com"
	elementFormDefault="qualified">
	<xs:element name="autotest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="engine" type="suren:engineType">
					<xs:annotation>
						<xs:documentation>
							<![CDATA[浏览器引擎配置]]>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="includePage" type="suren:includePageType"
					minOccurs="0" maxOccurs="unbounded" >
					<xs:annotation>
						<xs:documentation>
							<![CDATA[页面元素定位包含]]>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pages">
					<xs:annotation>
						<xs:documentation><![CDATA[页面列表配置]]></xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="page" type="suren:pageType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										<![CDATA[页面配置]]>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="pagePackage" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[公用的Page类包]]>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="dataSources" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation><![CDATA[数据源列表配置]]></xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dataSource" type="suren:dataSourceType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation><![CDATA[数据源配置]]></xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="engineType">
		<xs:attribute name="driver" type="suren:engineTypeDriverEnum" default="chrome">
			<xs:annotation>
				<xs:documentation><![CDATA[浏览器类型配置，默认值为chrome，必填。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="remote" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation><![CDATA[远程服务模式，可选；例如http://192.168.1.2:4444/wd/hub。不填写的话即为本地模式]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timeout" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation><![CDATA[显示地设置元素查找超时事件，单位为秒，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fullScreen" type="xs:boolean">
			<xs:annotation>
				<xs:documentation><![CDATA[浏览器全屏，可能会不支持，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maximize" type="xs:boolean">
			<xs:annotation>
				<xs:documentation><![CDATA[如果为true的话，浏览器启动后会最大化，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation><![CDATA[浏览器宽度，必须为正整数，单位为像素，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation><![CDATA[浏览器高度，必须为正整数，单位为像素，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="includePageType">
		<xs:attribute name="pageConfig" use="required">
			<xs:annotation>
				<xs:documentation>
					<![CDATA[所包含的页面文件路径，必填。]]>
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:simpleType name="engineTypeDriverEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ie">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[IE浏览器。]]>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="chrome">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[谷歌（Chrome）浏览器。]]>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="firefox">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[火狐（Firefox）浏览器。]]>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration> 
			<xs:enumeration value="opera">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[欧朋（Opera）浏览器。]]>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="safari">
				<xs:annotation>
					<xs:documentation>
						<![CDATA[Safari浏览器。]]>
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="pageType" mixed="false">
		<xs:sequence>
			<xs:element name="field" type="suren:pageFieldType" maxOccurs="unbounded" minOccurs="1">
				<xs:annotation>
					<xs:documentation><![CDATA[当前Page配置所对应的属性，必填。]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Page配置的唯一标示，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="class" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Page配置所对应的class（全路径），必填。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Page配置所对应的url地址，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dataSource" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Page配置所对应的数据源名称，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="paramPrefix" type="xs:string" default="param">
			<xs:annotation>
				<xs:documentation><![CDATA[配置用于变量替换的参数前缀，默认值为param。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="pageFieldType" mixed="false">
		<xs:sequence>
			<xs:element name="locators" type="suren:pageFieldLocators" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation><![CDATA[用于区域定位策略时配置定位方法。]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field配置所对应的名称，必填。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="suren:pageFieldLocatorAttrGroup"></xs:attributeGroup>
		<xs:attribute name="data" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的简单数据源值，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="suren:fieldTypeEnum" default="input">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的类型，默认值为input。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="action" type="xs:string" />
		<xs:attribute name="strategy" type="suren:strategyEnum" default="priority">
			<xs:annotation>
				<xs:documentation><![CDATA[配置用于查找当前Field对应的元素的策略，默认值为priority。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="paramPrefix" type="xs:string" default="param">
			<xs:annotation>
				<xs:documentation><![CDATA[配置用于变量替换的参数前缀，默认值为param。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timeout" type="xs:integer" default="0">
			<xs:annotation>
				<xs:documentation><![CDATA[显示地设置元素查找超时事件，单位为秒，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:attributeGroup name="pageFieldLocatorAttrGroup">
		<xs:attribute name="byId" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的元素的ID，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byCss" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的元素的css样式（class值），可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byName" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的元素的名称，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byXpath" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的元素的xpath，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byLinkText" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的a标签的文本，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byPartialLinkText" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的a标签的部分文本，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byTagName" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的标签名，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	
	<xs:complexType name="pageFieldLocators">
		<xs:sequence>
			<xs:element name="locator" type="suren:pageFieldLocator" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation><![CDATA[区域定位策略定位方法。]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="pageFieldLocator">
		<xs:attribute name="name" type="suren:pageFieldLocatorTypeEnum" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[定位方法。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[定位方法对应的值。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timeout" type="xs:long">
			<xs:annotation>
				<xs:documentation><![CDATA[显示地设置元素查找超时事件，单位为秒，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="extend" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[扩展属性。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:simpleType name="pageFieldLocatorTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="byId">
				<xs:annotation>
					<xs:documentation>根据元素属性id值定位，全局唯一</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="byCss">
				<xs:annotation>
					<xs:documentation>根据元素属性class值定位，通常用于定位一类元素</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="byName">
				<xs:annotation>
					<xs:documentation>根据元素属性name值定位，通常在一个表单中唯一</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="byXpath">
				<xs:annotation>
					<xs:documentation>根据元素路径（xpath）定位</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="byLinkText">
				<xs:annotation>
					<xs:documentation>根据a元素的文本值定位</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="byPartialLinkText">
				<xs:annotation>
					<xs:documentation>根据a元素的部分文本值定位</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="byTagName">
				<xs:annotation>
					<xs:documentation>根据元素的名称定位，通常用于定位一类元素</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="byIFrame">
				<xs:annotation>
					<xs:documentation>根据元素iframe的名称或者id值定位</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="byIFrameIndex">
				<xs:annotation>
					<xs:documentation>根据元素iframe的序号来定位，从1开始</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="byText">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="byXAttr">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="strategyEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="priority">
				<xs:annotation>
					<xs:documentation>优先级策略</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="cyle">
				<xs:annotation>
					<xs:documentation>循环策略</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="zone">
				<xs:annotation>
					<xs:documentation>区域策略</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="fieldTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="input">
				<xs:annotation>
					<xs:documentation>文本框、文本域等用于输入字符的元素</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="button">
				<xs:annotation>
					<xs:documentation>按钮类需要触发单击操作的元素</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="select">
				<xs:annotation>
					<xs:documentation>下拉列表元素</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="file_upload">
				<xs:annotation>
					<xs:documentation>点击了会触发文件上传的按钮</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="check_box_group">
				<xs:annotation>
					<xs:documentation>单（多）选按钮组所在的父（parent）元素</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="dataSourceType">
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[数据源名称，必须是在数据源列表中唯一，必填。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="suren:dataSourceTypeEnum" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[数据源类型，必填。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="resource" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[资源位置，必填。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:simpleType name="dataSourceTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="xml_data_source">
				<xs:annotation>
					<xs:documentation><![CDATA[XML格式的数据源]]></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="excel_data_source" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>