src/main/resources/autotest.web.framework.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://surenpi.com"
	xmlns:suren="http://surenpi.com"
	elementFormDefault="qualified">
	<xs:element name="autotest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="engine" type="suren:engineType">
					<xs:annotation>
						<xs:documentation>
							<![CDATA[浏览器引擎配置]]>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="includePage" type="suren:includePageType"
					minOccurs="0" maxOccurs="unbounded" >
				</xs:element>
				<xs:element name="pages">
					<xs:annotation>
						<xs:documentation><![CDATA[页面列表配置]]></xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="page" type="suren:pageType" maxOccurs="unbounded" />
						</xs:sequence>
						<xs:attribute name="pagePackage" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									<![CDATA[公用的Page类包]]>
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="dataSources" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation><![CDATA[数据源列表配置]]></xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dataSource" type="suren:dataSourceType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation><![CDATA[数据源配置]]></xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="engineType">
		<xs:attribute name="driver" type="suren:engineTypeDriverEnum" default="chrome">
			<xs:annotation>
				<xs:documentation><![CDATA[浏览器类型配置，默认值为chrome，必填。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="remote" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation><![CDATA[远程服务模式，可选；例如http://192.168.1.2:4444/wd/hub。不填写的话即为本地模式]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timeout" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation><![CDATA[显示地设置元素查找超时事件，单位为秒，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fullScreen" type="xs:boolean">
			<xs:annotation>
				<xs:documentation><![CDATA[浏览器全屏，可能会不支持，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maximize" type="xs:boolean">
			<xs:annotation>
				<xs:documentation><![CDATA[如果为true的话，浏览器启动后会最大化，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation><![CDATA[浏览器宽度，必须为正整数，单位为像素，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" type="xs:positiveInteger">
			<xs:annotation>
				<xs:documentation><![CDATA[浏览器高度，必须为正整数，单位为像素，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="includePageType">
		<xs:attribute name="pageConfig" use="required"></xs:attribute>
	</xs:complexType>
	
	<xs:simpleType name="engineTypeDriverEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ie" />
			<xs:enumeration value="chrome" />
			<xs:enumeration value="firefox" /> 
			<xs:enumeration value="opera" />
			<xs:enumeration value="safari" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="pageType" mixed="true">
		<xs:sequence>
			<xs:element name="field" type="suren:pageFieldType" maxOccurs="unbounded" minOccurs="1">
				<xs:annotation>
					<xs:documentation><![CDATA[当前Page配置所对应的属性，必填。]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Page配置的唯一标示，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="class" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Page配置所对应的class（全路径），必填。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Page配置所对应的url地址，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dataSource" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Page配置所对应的数据源名称，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="paramPrefix" type="xs:string" default="param">
			<xs:annotation>
				<xs:documentation><![CDATA[配置用于变量替换的参数前缀，默认值为param。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="pageFieldType">
		<xs:sequence>
			<xs:element name="locators" type="suren:pageFieldLocators" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation><![CDATA[用于区域定位策略时配置定位方法。]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field配置所对应的名称，必填。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="suren:pageFieldLocatorAttrGroup"></xs:attributeGroup>
		<xs:attribute name="data" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的简单数据源值，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="suren:fieldTypeEnum" default="input">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的类型，默认值为input。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="action" type="xs:string" />
		<xs:attribute name="strategy" type="suren:strategyEnum" default="priority">
			<xs:annotation>
				<xs:documentation><![CDATA[配置用于查找当前Field对应的元素的策略，默认值为priority。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="paramPrefix" type="xs:string" default="param">
			<xs:annotation>
				<xs:documentation><![CDATA[配置用于变量替换的参数前缀，默认值为param。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timeout" type="xs:integer" default="0">
			<xs:annotation>
				<xs:documentation><![CDATA[显示地设置元素查找超时事件，单位为秒，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:attributeGroup name="pageFieldLocatorAttrGroup">
		<xs:attribute name="byId" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的元素的ID，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byCss" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的元素的css样式（class值），可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byName" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的元素的名称，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byXpath" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的元素的xpath，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byLinkText" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的a标签的文本，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byPartialLinkText" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的a标签的部分文本，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="byTagName" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[当前Field对应的标签名，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	
	<xs:complexType name="pageFieldLocators">
		<xs:sequence>
			<xs:element name="locator" type="suren:pageFieldLocator" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation><![CDATA[区域定位策略定位方法。]]></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="pageFieldLocator">
		<xs:attribute name="name" type="suren:pageFieldLocatorTypeEnum" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[定位方法。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[定位方法对应的值。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="timeout" type="xs:long">
			<xs:annotation>
				<xs:documentation><![CDATA[显示地设置元素查找超时事件，单位为秒，可选。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="extend" type="xs:string">
			<xs:annotation>
				<xs:documentation><![CDATA[扩展属性。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:simpleType name="pageFieldLocatorTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="byId"></xs:enumeration>
			<xs:enumeration value="byCss"></xs:enumeration>
			<xs:enumeration value="byName"></xs:enumeration>
			<xs:enumeration value="byXpath"></xs:enumeration>
			<xs:enumeration value="byLinkText"></xs:enumeration>
			<xs:enumeration value="byPartialLinkText"></xs:enumeration>
			<xs:enumeration value="byTagName"></xs:enumeration>
			<xs:enumeration value="byIFrame"></xs:enumeration>
			<xs:enumeration value="byIFrameIndex"></xs:enumeration>
			<xs:enumeration value="byText"></xs:enumeration>
			<xs:enumeration value="byXAttr"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="strategyEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="priority"></xs:enumeration>
			<xs:enumeration value="cyle"></xs:enumeration>
			<xs:enumeration value="zone"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="fieldTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="input" />
			<xs:enumeration value="button" />
			<xs:enumeration value="select" />
			<xs:enumeration value="file_upload" />
			<xs:enumeration value="check_box_group" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="dataSourceType">
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[数据源名称，必须是在数据源列表中唯一，必填。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="suren:dataSourceTypeEnum" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[数据源类型，必填。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="resource" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation><![CDATA[资源位置，必填。]]></xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:simpleType name="dataSourceTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="xml_data_source">
				<xs:annotation>
					<xs:documentation><![CDATA[XML格式的数据源]]></xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="excel_data_source" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>